$checkbox-width: 1rem;
$checkbox-height: 2rem;
$checkbox-border: 0.3125rem;
$check-success-scale: calc($checkbox-border / $checkbox-height);
$robot-check-dismiss-animation-time: 200ms;
$circle-scale-in-animation-time: 200ms;
$cricle-fill-animation-time: 1s;
$circle-scale-out-animation-time: 200ms;
$checkbox-animation-time: 150ms;
$checkmark-border: $checkbox-border solid #81c038;
$checkbox-size: 2rem;

.checkmark {
  position: absolute;
  // TODO: probably translate and top should be calculated based on the rotation and transform origin
  // translate: -0.25rem;
  top: -2rem; 

  /* inner and inverter move by the padding if specified, needs to be 0 to stay static */
  // padding-left: 0;
  // padding-bottom: 0;

  overflow: hidden; /* directly switches to final state if not specified */
  transform-origin: 0 100%;
  // transform: scale(0, $check-success-scale);
  rotate: 45deg;
}

.checkmark-inverter {
  border-bottom: $checkmark-border;
  border-right: $checkmark-border;
  transform-origin: 0 100%;
  width: $checkbox-width;
  height: $checkbox-height;
  transform: scale(0, $check-success-scale);
}

$verified-width-delay: $robot-check-dismiss-animation-time +
  $circle-scale-in-animation-time + $cricle-fill-animation-time +
  $circle-scale-out-animation-time;
$verified-height-delay: $verified-width-delay + $checkbox-animation-time;

.checkmark-checked {
  animation: $checkbox-animation-time $verified-width-delay
      checkedWidthAnimation linear forwards,
    $checkbox-animation-time $verified-height-delay checkedHeightAnimation
      linear forwards;
}

.checkmark-inverter-checked {
  animation: $checkbox-animation-time $verified-width-delay
      checkedWidthReversedAnimation linear forwards,
    $checkbox-animation-time $verified-height-delay
      checkedHeightReversedAnimation linear forwards;
}

/* Checkbox */
.robot-check {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  user-select: none;

  .checkbox {
    width: $checkbox-size;
    height: $checkbox-size;
    background-color: #fff;
    border: 2px solid #c1c1c1;
  }

  &.checked .checkbox {
    animation: robot-check-dismiss $robot-check-dismiss-animation-time ease-in
      forwards;
  }

  .robot-check-text {
    position: absolute;
    left: 2.5rem;
    width: max-content;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  @keyframes robot-check-dismiss {
    100% {
      scale: 0;
    }
  }
}

/* Loading circle */
.captcha-loading-circle {
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  overflow: visible; /* otherwise circle gets clipped */
  position: absolute;
  scale: 0;

  .circle-outline {
    fill: none;
    stroke-width: 5px;
    stroke: #c1c1c1;
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 0;
    z-index: -1;
  }

  .circle-progress-outline {
    fill: none;
    stroke-width: 5px;
    stroke: hsl(198, 100%, 34%);
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 72px;
    opacity: 0;
  }

  &.checked .circle-progress-outline {
    animation: circle-progress $cricle-fill-animation-time ease-in-out
      $robot-check-dismiss-animation-time + $circle-scale-in-animation-time
      forwards;
  }

  .circle-fill {
    fill: var(--clr-captcha-bg);
    stroke: none;
  }

  &.checked {
    animation: circle-scale $circle-scale-in-animation-time
        $robot-check-dismiss-animation-time ease forwards,
      robot-check-dismiss $circle-scale-out-animation-time ease-in forwards
        $robot-check-dismiss-animation-time + $circle-scale-in-animation-time +
        $cricle-fill-animation-time;
  }

  @keyframes circle-scale {
    100% {
      scale: 1;
    }
  }

  @keyframes circle-progress {
    0% {
      stroke-dashoffset: 72px;
      opacity: 1;
    }

    100% {
      stroke-dashoffset: 0px;
      opacity: 1;
    }
  }
}
